@model WX.DVDCentral.BL.Models.ShoppingCart
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table ps-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
         <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new {id=item.Id})
            </td>
         </tr>
        }
    </tbody>
</table>
<Table class="table ps-2">
    <tr class="ps-2">
        <th class ="col-sm-3">
            @Html.DisplayNameFor(modelItem  => Model.SubTotal)
        </th>
        <td class="col-sm-9">
            @Html.DisplayFor(modelItem => Model.SubTotal)
        </td>
    </tr>
    <tr class="ps-2">
        <th class="col-sm-3">
            @Html.DisplayNameFor(modelItem  => Model.Tax)
        </th>
        <td class="col-sm-9">
            @Html.DisplayFor(modelItem => Model.Tax)
        </td>
    </tr>
    <tr class="ps-2">
        <th class ="col-sm-3">
            @Html.DisplayNameFor(modelItem  => Model.Total)
        </th>
        <td class="col-sm-9">
            @Html.DisplayFor(modelItem => Model.Total)
        </td>     
    </tr>
</Table>
<a class="btn btn-sm btn-primary ps-2" asp-controller="ShoppingCart" asp-action="Checkout" style="margin-left: 10px;">Checkout</a>
