@model WX.DVDCentral.BL.Models.Movie

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ps-2">
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-1">

        </dt>
        <dd class="col-sm-11">
            <div class="form-group">
                <label class="control-label"></label>
                <img class="imagepropmed"
                     alt="@Model.Description"
                     id="programimage"
                     onclick="on('/images/@Model.ImagePath');"
                     src="~/images/@Model.ImagePath" />
            </div>
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.InStkQty)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.InStkQty)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back To List", "Index", new { id = Model.Id }) |
    <input class="btn btn-primary btn-sm" type="button" onclick="AddToCart(@Model.Id)" value="Add" />
    
</div>
