@model IEnumerable<WX.DVDCentral.BL.Models.OrderItem>

<table id="orders" class="table data-table">
    <thead class="header text-black">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="form-group">
                <label class="control-label"></label>
                <img class="imagepropmed"
                     id="programimage"
                     onclick="on('/images/@item.ImagePath');"
                     src="~/images/@item.ImagePath" />
            </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.ActionLink("Remove", "ShoppingCart", new { id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" class="init">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#orders').DataTable({
            "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });
    });

</script>